{% comment %} tienda\templates\tienda\_modal_detalles.html {% endcomment %}

<!-- Modal de Detalles -->
<div class="modal fade" id="detallesModal" tabindex="-1" aria-labelledby="detallesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="detallesModalLabel">Detalles del Disco</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p><strong>Álbum:</strong> <span id="modalAlbumTitle"></span></p>
              <p><strong>Artista:</strong> <span id="modalArtistName"></span></p>
              <p><strong>Año de lanzamiento:</strong> <span id="modalReleaseYear"></span></p>
              <p><strong>Precio:</strong> <span id="modalPrice"></span></p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" id="modalAddToCart">Añadir al carrito</button>
          </div>
      </div>
  </div>
</div>