*{

}

body{
    background-color: rgb(234, 233, 232);
}


/* AJUSTAR IMAGENES DEL CARRUSEL */
.carousel-item img {
    height: 500px; /* Ajusta la altura*/
    object-fit: cover; /* Esto asegura que la imagen cubra el area sin perder sus proporciones */
    width: 100%; /* Mantiene la imagen a lo ancho del contenedor */
}


.titulo {
    text-align: center;
    margin-top: 2vh; 
    /* La unidad vh en CSS se refiere al "viewport height" (altura de la ventana de visualización), y 1vh es igual al 1% de la altura del viewport.  */
    

}


#form{  /* formulario */
    background-color: rgba(240, 248, 255, 0.5);
    padding: 2%;
    margin-bottom: 5%;
}


#formTotal{ /* formulario espacio total*/
    background-image: url(imagenes/andres-valdes-YjxTbkvZbKA-unsplash.jpg);
    background-size: cover; /* Cubrir area sin perder las proporciones */
    background-position: center; /* Centrar la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

#activePage{
    color: black;
    font-weight: 500;
}


/* Agregar efecto sobre la barra */
.nav-item .nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; /* Opcional: añade suavidad a la transición */
}


/* Modificar navbar tamaño y espaciado de elementos */
.navbar-nav{
   /*  background-color: red; */
    width: 60vw;  /*    vh = viewport height   1vh = 1% del alto de la pantalla
                        vw= viewport width  1vw = 1% del ancho de la pantalla  */

    display: flex;
    justify-content: space-around;

}

