*{
    font-family: monospace;
}

body{
    background-color: rgb(234, 233, 232);
}


/* AJUSTAR IMAGENES DEL CARRUSEL */
.carousel-item img {
    height: 500px; /* Ajusta la altura*/
    object-fit: cover; /* Esto asegura que la imagen cubra el area sin perder sus proporciones */
    width: 100%; /* Mantiene la imagen a lo ancho del contenedor */
}


.titulo {
    text-align: center;
    margin-top: 2vh; 
    /* La unidad vh en CSS se refiere al "viewport height" (altura de la ventana de visualización), y 1vh es igual al 1% de la altura del viewport.  */
    

}


#form{  /* formulario */
    background-color: rgba(250, 246, 249, 0.7);
    padding: 2%;
    margin-bottom: 5%;
    color: black;
    font-size:large;
    font-weight: 400;
    border-radius: 3%;

}


#formTotal{ /* formulario espacio total*/
    background-image: url(imagenes/andres-valdes-YjxTbkvZbKA-unsplash.jpg);
    background-size: cover; /* Cubrir area sin perder las proporciones */
    background-position: center; /* Centrar la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin-bottom: 5vh;
}

#activePage{
    color: black;
    font-weight: 500;
}


/* Agregar efecto sobre la barra */
.nav-item .nav-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out; /* Opcional: añade suavidad a la transición */
}


/* Modificar navbar tamaño y espaciado de elementos */
.navbar-nav{
   /*  background-color: red; */
    width: 60vw;  /*    vh = viewport height   1vh = 1% del alto de la pantalla
                        vw= viewport width  1vw = 1% del ancho de la pantalla  */

    display: flex;
    justify-content: space-around;

}



/* IMG LOGO */
.navbar-brand img {
    height: auto; 
    max-height: 8vh; /* maxima altura */
    width: auto; /* Mantener proporciones*/
    margin-left: 10%;
    
}
  


/* BOTONES CREAR E INICIAR SESION */
.contenedor-sesion {
    display: flex;
    justify-content: right;
}




/* Modificar el tamño de las card por debajo de los760px  */
@media (max-width: 760px){ 
    .card-img-top{
        height: auto !important; /* forzar */
    }

}



/* Efecto para las cards */
.card-custom-shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Suaviza la transformación y el cambio de sombra */
    position: relative; /* Importante para que z-index funcione correctamente */
    z-index: 1; 
}
.card-custom-shadow:hover {
    transform: scale(1.02); /* Aumenta el tamaño de la tarjeta */
    z-index: 1000; /* Aumenta el z-index para que se sobreponga sobre otras tarjetas */
    box-shadow: 0 8px 16px rgba(0,0,0,1); 
}