
/* Modificar el tamño de las card por debajo de los760px  */
@media (max-width: 760px){ 
    .card-img-top{
        height: auto !important; /* forzar */
    }

}

/* Modificar el tamño de las card por debajo de los760px  */
@media (max-width: 990px){ 
    #barraNav {
        /*  background-image: url('imagenes/patron.png'), linear-gradient(to left,  #021323, #788697);  */
         background: linear-gradient(to left, #788697, #021323) !important; 
         box-shadow: rgba(0, 0, 0, 0.20) 0px 30px 20px, rgba(0, 0, 0, 0.12) 0px 6px 10px;/*  color negro (0, 0, 0) con una opacidad del 0.35%. */
     }
     

}



/* Efecto para las cards */
.card-custom-shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    transition: transform 1s ease-in-out, box-shadow 0.3s ease-in-out; /* Suaviza la transformación y el cambio de sombra */
    position: relative; /* Importante para que z-index funcione correctamente */
    z-index: 1; 
}
.card-custom-shadow:hover {
    transform: scale(1.07); /* Aumenta el tamaño de la tarjeta */
    z-index: 1000; /* Aumenta el z-index para que se sobreponga sobre otras tarjetas */

    /* Efecto de profundidad alrededor del elemento al combinarse sombras. */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 30px 20px, rgba(0, 0, 0, 0.12) 0px 6px 10px;/*  color negro (0, 0, 0) con una opacidad del 0.35%. */
}   
